@import "colors.scss";

html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background: $mainBackground;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    margin: auto;
    touch-action: none;
    //cursor: none;
}

.pause {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    text-transform: uppercase;
    color: white;
    visibility: hidden;

    p {
        font-size: 30px;
    }
}